import os
from pathlib import Path
import nox

TEST_ROOT_FOLDER = os.getenv("TEST_ROOT_FOLDER", "tests/")
PYTHON_VERSIONS_TO_TEST = ["3.11", "3.12", "3.13"]
nox.options.default_venv_backend = "uv"

ON_CI = any([os.environ.get('ON_CI', '0') == '1'])
STRICT_TYPES = False


def install_dependencies(session, tags=['--all-extras']):
    session.run("uv", "sync", f"--python={session.virtualenv.location}", *tags)


#github logs

@nox.session(python=PYTHON_VERSIONS_TO_TEST)
def tests(session: nox.Session) -> None:
    """
    Run the unit and regular tests.
    """
    python_version_display = session.python.replace(".", "-")
    # GitHub Actions logs grouping
    print(f"::group::Running tests for Python {python_version_display}")
    session.run("uv", "sync", f"--python={session.virtualenv.location}", "--all-extras")
    session.run(
        "uv",
        "run",
        "coverage",
        "run",
        "--source",
        "src",
        f"--data-file=.coverage-{python_version_display}",
        "-m",
        "pytest",
        "-s",
        "-v",
        TEST_ROOT_FOLDER,
    )
    print("::endgroup::")



@nox.session(python=PYTHON_VERSIONS_TO_TEST, reuse_venv=True)
def test(session):
    Path('reports').mkdir(exist_ok=True)
    if session.posargs:
        test_folder = [f'tests/{u}' for u in session.posargs]
    else:
        test_folder = ['tests']
    install_dependencies()
    session.install('.[dev,dev-test]')
    for folder in test_folder:
        args = []
        args.append('-rs')
        args.append(folder)
        print(f'Test session: {folder}')
        env_name = f'py-{python_version()}-os-{platform()}'
        session.run(
            'pytest',
            # These args are for running pytest in parallel using pytest-xdist
            # '-n',
            # 'logical',
            '--log-level=WARNING',
            '--cov={{repo.py_name}}',
            '--cov-report',
            f'xml:reports/coverage-{folder}.xml',
            '--cov-report',
            'html:reports/htmlcov',
            '--junitxml',
            f'reports/{env_name}-test-{folder}.xml',
            *args)


@nox.session(reuse_venv=True, tags=['docs'])
def docs(session):
    session.install('.[dev,dev-docs]')
    # We need to do some git wrangling for branches etc.
    # We are going to:
    #   * fetch all,
    #   * checkout gh-pages,
    #   * branch to gh-pages-dev-{HOSTNAME},
    #   * use that for the mike build and serve,
    #   * Delete the branch after serving complete
    docs_file = 'docs/mkdocs.yml'
    session.run('git', 'fetch', '--all', external=True)
    branch_name = f'gh-pages-dev-{os.uname().nodename}'
    version = 'dev'
    session.run('git', 'branch', '-D', branch_name, external=True, success_codes=[0, 1])
    session.run('git', 'branch', '--no-track', '-f', branch_name, 'origin/gh-pages', external=True)
    try:
        session.run('mike', 'deploy', '-u', version, 'latest', '--config-file', docs_file, '-b', branch_name)
        session.run('mike', 'set-default', 'latest', '--config-file', docs_file, '-b', branch_name)
        if not ON_CI:
            # We want to put the whole branch as an artifact so we output it here
            session.run('mike', 'serve', '--config-file', docs_file, '-b', branch_name)

    finally:
        if not ON_CI:
            # Delete the branch once complete when testing locally
            session.run('git', 'branch', '-D', branch_name, external=True)
        # You might want to output this to your CI/CD tool to e.g. capture the artifacts.
        # elif 'GITHUB_OUTPUT' in os.environ:
        #    with open(os.environ['GITHUB_OUTPUT'], 'a') as fh:
        #        print(f'branch_name={branch_name}', file=fh)

@nox.session(reuse_venv=True, tags=['license'])
def licenses(session):
    session.install('licensecheck')
    session.run('licensecheck', '--using', 'PEP631:github;azure_devops;dev;dev-test;dev-lint;dev-types;dev-security;dev-docs;dev-build', '--format', 'json', '--file', 'licenses-dev.json')
    session.run('licensecheck', '--using', 'PEP631:github;azure_devops', '--format', 'json', '--file', 'licenses.json')
    session.run('licensecheck', '--using', 'PEP631:github;azure_devops', '--format', 'ansi')
