{% extends "nskit.recipes.python.ingredients:pyproject.toml.template" %}
{% block Dependencies %}
    {{ super() }}
    "fastapi",
    "uvicorn",
    "requests",
    "fastapi_aad_auth",

{% endblock Dependencies %}
