{% extends "nskit.recipes.python.ingredients.tools:README.md.jinja" %}

{% block Introduction %}
This repo is configured to provide a ``fastapi`` service (and dockerfile).
{% endblock Introduction %}
