{% if license %}
# License

``{{repo.name}}`` is licensed under the {{license.value | upper }} License
{% raw %}
```
{%
   include-markdown "../../../LICENSE"
   comments=false
%}
```
{% endraw %}
{% endif %}