!src/nskit/*
# SCM versions
src/nskit/_version.py

# Compiled files
*.pyc
*.nfs*
*.egg-info
*.csv
*.pyd
*.log
*/PKG-INFO
*.so
*.c

# Build folder
./build/*
build/*

# Dist folder
./dist/*
dist/*

# Built Docs
docs/html/*
docs/pdf/*
docs/epub/*
*.doctree

# Downloaded Wheels
wheelhouse/*

# Env files
*.envrc/*
.envrc
.env
env/**

# Reports
reports/*-py*
.coverage
.coverage*
reports/*
test-reports/*

# IDE files
.idea/*

# Compiled requirements & Pipenv
Pipfile
frozen_requirements.txt
Pipfile.lock

# Virtualenv
.venv/*
\.venv/

# Utility Helper folders
.pytest_cache/*
.mypy_cache/*
mypy
.nox/*

# DS Files
**/.DS_store

# SBOM FIles
licenses*.json