{%- extends "nskit.recipes.python.ingredients.shared:taskfile_root.yml.jinja" %}

{%- block AdditionalTaskfiles -%}
{{super()}}
  docker:
    taskfile: taskfiles/docker.yml
    flatten: false
{%- endblock AdditionalTaskfiles -%}
